<div class="testimony-slide active text-center">
  <figure>
    <%= image_tag("person1.jpg") %>
    <!-- <img src="assets/images/person1.jpg" alt="user"> -->
  </figure>
  <span>Louis D, via <a href="#" class="twitter">Twitter</a></span>
    <blockquote>
      <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
    </blockquote>
  </div>
</div>
