<div class="testimony-slide active text-center">
  <figure>
    <%= image_tag("person2.jpg") %>
    <!-- <img src="assets/images/person2.jpg" alt="user"> -->
  </figure>
  <span>Ridwan B, via <a href="#" class="twitter">Twitter</a></span>
    <blockquote>
      <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
    </blockquote>
  </div>
</div>
