<div id="fh5co-services" class="fh5co-bg-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 text-center">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="fab fa-cc-amex"></i>
          </span>
          <h3>Safe payement</h3>
          <p>We only accept Visa, Mastercard, American Express and PayPal.</p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="fas fa-check-circle"></i>
          </span>
          <h3>Authenticity</h3>
          <p>Our products are authenticated by our team in Paris.</p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="fas fa-plane"></i>
          </span>
          <h3>Worldwide Delivery</h3>
          <p>Your order will be shipped with FedEx the day after you placed it. Allow 3 to 5 business days for shipping.</p>

        </div>
      </div>
    </div>
  </div>
</div>
