<!-- FOOTER -->
<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-4 fh5co-widget">
        <h3>Shop.</h3>
        <p>42 Avenue des Champs Elysées<br/>75008 Paris<br/>France</p>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
        <ul class="fh5co-footer-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
        <ul class="fh5co-footer-links">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
        <ul class="fh5co-footer-links">
          <li><a href="#">Teams</a></li>
        </ul>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2018 Free HTML5. All Rights Reserved.</small>
          <small class="block">Designed by <a href="https://github.com/ldelestre/Webshop" target="_blank">Team-X</a></small>
        </p>
      </div>
    </div>

  </div>
</footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="fas fa-angle-double-up"></i></a>
</div>
