<div class="row">
  <div class="col-md-10 col-md-offset-1 animate-box">
    <div class="img-preview">
      <%= image_tag("react-sail") %>
    </div>
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>React Element 87 Sail</h2>
        <p>
          <a href="#" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
        </p>
      </div>
    </div>
  </div>
</div>