<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background: url(<%= asset_path 'jordan-1-sbb.jpg' %>) no-repeat; background-size: cover;">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">$100</span>
                <h2>Air Jordan 1 SBB</h2>
                <p>Released in 2015, the “Shattered Backboard” Air Jordan 1 High is inspired by an exhibition game Michael Jordan participated in back in 1985 where he broke the glass backboard after a dunk.</p>
                <p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background: url(<%= asset_path 'off-white-unc.jpg' %>) no-repeat; background-size: cover;">
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">$100</span>
                <h2>Off White Jordan 1 UNC</h2>
                <p>For his third edition of the monumental Off-White x Air Jordan 1, Virgil Abloh focused on the "UNC" colorway of Michael Jordan's first signature shoe.</p>
                <p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background: url(<%= asset_path 'off-white-zoom-fly.jpg' %>) no-repeat; background-size: cover;">
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">$100</span>
                <h2>Off White Zoom Fly</h2>
                <p>There’s was no missing the hyped OFF-WHITE x Nike “THE TEN” collection in 2017, but here is one of the most overlooked models in the set, the Zoom Fly.</p>
                <p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background: url(<%= asset_path 'pirate-black.jpg' %>) no-repeat; background-size: cover;">
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">$100</span>
                <h2>Yeezy Boost 350 Pirate Black</h2>
                <p>Some would say the adidas Yeezy Boost 350 in "Pirate Black" is the most popular colorway of the most preferred silhouette from Kanye West's collaboration with adidas.</p>
                <p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      </ul>
    </div>
</aside>