<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background: url(<%= asset_path 'brkln.jpg' %>) no-repeat; background-size: cover;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
