<div id="fh5co-testimonial" class="fh5co-bg-section">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Testimony</span>
        <h2>Happy Clients</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row animate-box">
          <div class="owl-carousel owl-carousel-fullwidth">
            <div class="item">
              <%= render "renders/testimony/louis" %>
            <div class="item">
              <%= render "renders/testimony/ridwan" %>
            <div class="item">
              <%= render "renders/testimony/nicolas" %>
          </div>
        </div>
      </div>
    </div>
  </div>
