<div class="fh5co-tab-content tab-content" data-tab-content="3">
  <div class="col-md-10 col-md-offset-1">
    <h3>Happy Buyers</h3>
    <div class="feed">
      <div>
        <blockquote>
          <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
        </blockquote>
        <h3>&mdash; Louie Knight</h3>

      </div>
      <div>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </blockquote>
          <h3>&mdash; Ridwan Baboolall</h3>

        </div>
      </div>
    </div>
  </div>
</div>
