
<div class="fh5co-tab-content-wrap">

  <div class="fh5co-tab-content tab-content active" data-tab-content="1">
    <div class="col-md-10 col-md-offset-1">
      <span class="price">SRP: $<%= @item.price%></span>
      <h2><%= @item.title%></h2>
      <p><%= @item.description%></p>

      <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

      <div class="row">
        <div class="col-md-6">
          <h2 class="uppercase">Keep it simple</h2>
          <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
        </div>
        <div class="col-md-6">
          <h2 class="uppercase">Less is more</h2>
          <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
        </div>
      </div>

    </div>
  </div>
