<%= render 'renders/services-banner' %>
<div id="fh5co-services" class="fh5co-bg-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="fab fa-cc-amex"></i>
					</span>
					<h3>Credit Card</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
					<p><a href="https://www.americanexpress.com/" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="fas fa-money-bill-alt"></i>
					</span>
					<h3>Save Money</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
					<p><a href="http://www.businessinsider.fr/us/how-to-save-money-every-day-2018-7" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="fas fa-globe-americas"></i>
					</span>
					<h3>Worldwide Delivery</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
					<p><a href="https://www.fedex.com/en-us/home.html" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="fas fa-calendar-alt"></i>
					</span>
					<h3>Lifetime Warranty</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
					<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="fas fa-star"></i>
					</span>
					<h3>Best Service</h3>
					<p>We have a concierge service. If you want something, you don't need to search any more, feel free to ask us anything.</p>
					<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="fas fa-handshake"></i>
					</span>
					<h3>Consigment</h3>
					<p>We provide everyone with a consigment selling service. Please come by our store to have any futher informations.</p>
					<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
