<div class="col-md-4 text-center animate-box">
  <div class="product">
    <div class="product-grid" style="background: url(<%= asset_path 'off-white-zoom-fly.png' %>) no-repeat; background-size: cover;">
      <div class="inner">
        <p>
          <a href="single.html" class="icon"><i class="fas fa-shopping-cart"></i></a>
          <a href="single.html" class="icon"><i class="fas fa-eye"></i></i></a>
        </p>
      </div>
    </div>
    <div class="desc">
      <h3><a href="single.html">Off White Zoom Fly</a></h3>
      <span class="price">$100</span>
    </div>
  </div>
</div>
