<h1>Your cart</h1>

<div id="items-added">
	<ul>
		<li>Image</li>
		<li>Title</li>
		<li>Prix</li>
		<button>Remove</button>
	</ul>
</div>

<br/>

<div id="total">
	<ul>
		<li>Subtotal</li>
		<li>Shipping</li>
		<li>Total</li>
		<button>Place your order</button>
	</ul>
</div>