<br/><h1>Here will be displayed all the items for sale.</h1>

<% @items.each do |item| %>
	<ul>
		<li><%= item.title %></li>
		<li><%= item.description %></li>
		<li><%= item.price %> €</li>
		<li><%= item.image_url %></li>
		<li></li>
	</ul>
<% end %>

<i class="fas fa-eye"></i>